<!DOCTYPE html>
<html lang="en">
<head>
  <title>India Test Tracker</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Unica+One|Vollkorn&display=swap" rel="stylesheet">
  <script src="libraries/vue.js"></script>
  <!--<script src="libraries/plotly.min.js"></script>-->
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
  <script src="geo2rect.js"></script>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>

  <header>
    <div><a href="https://aatishb.com/indiatesttracker/"><span style="letter-spacing: -6.5px;">▲</span>▼ India Test Tracker</a></div>
    <div><a href="https://github.com/aatishb/indiatesttracker#readme">About</a></div>
  </header>

  <div id="root">

    <div class="container">

      <h1 style="text-align: center;">What Percentage of COVID-19 Tests are Positive in Indian States?</h1>

      <p>Before reopening a region, the WHO recommends that <b>the percentage of COVID tests that are positive should be <a href="https://apps.who.int/iris/bitstream/handle/10665/332073/WHO-2019-nCoV-Adjusting_PH_measures-Criteria-2020.1-eng.pdf">less than 5 percent</a></b>. This means that out of 100 tests conducted, fewer than 5 should be positive on average.</p>

      <div class="caveat" @click="expand = true">

        <span v-if="expand">
        ⚠️ <i>Be careful when interpreting COVID testing data, as this data leaves out people who haven't been tested or who don't have access to tests. This is particularly a problem in rural India where there is a <a href="https://www.npr.org/2021/05/22/998489469/in-rural-india-less-covid-19-testing-more-fear-and-a-few-ventilators-for-million">severe testing shortage</a>. There are also differences in how states report numbers, and occasional errors in data collection. While testing data can be useful for revealing trends, <b>policy decisions about reopenings should not be based on COVID testing data alone</b> and should also take into account <a href="https://apps.who.int/iris/bitstream/handle/10665/332073/WHO-2019-nCoV-Adjusting_PH_measures-Criteria-2020.1-eng.pdf">other measures of community spread</a>.</i>
        </span>
        <span v-else>
        ⚠️ <i>Be careful when interpreting COVID testing data, as it leaves out people who haven't been tested or who don't have access to tests. <b><a>Read more.</a></b></i> 
        </span>
      </div>

      <div style="display: flex; flex-direction: row; justify-content: center;">
        <button @click="viewMode = 'table'">Table View</button>
        <button @click="viewMode = 'chart'">Chart View</button>
        <button @click="viewMode = 'map'">Map View</button>
      </div>

    </div>

    <div v-if="viewMode == 'table'">
      <div class="container">

        <div style="padding-top:0.5rem; padding-bottom:0.5rem;">
          <div>
            <input type="checkbox" id="showtrend" v-model="showtrend">
            <label for="showtrend">Show Trend</label>      
          </div>

          <div>
            <input type="checkbox" id="showtestnumbers" v-model="showtestnumbers">
            <label for="showtestnumbers">Show Number of Tests</label>      
          </div>
        </div>

        <h2>States <span style="color:#378b37;">that meet</span> WHO guidelines<sup style="font-weight: 300;">*</sup>:  <span style="color:#378b37;">{{statesWithLowPositivity.length}}</span></h2>

        <statetable :statedata="statesWithLowPositivity" :showtestnumbers="showtestnumbers" :showtrend="showtrend"></statetable>

        <br>
        <h2>States <span style="color:crimson;">that don't meet</span> WHO guidelines<sup style="font-weight: 300;">*</sup>: <span style="color:crimson;">{{statesWithHighPositivity.length}}</span></h2>

        <statetable :statedata="statesWithHighPositivity" :showtestnumbers="showtestnumbers" :showtrend="showtrend"></statetable>

      </div>
      <br>

    </div>

    <div v-if="viewMode == 'chart'">

      <div class="container">
        <div style="display: flex; flex-direction: row; justify-content: center;">
          <select v-model="selectedChart">
            <option v-for="option in options" v-bind:value="option.value">
              {{ option.text }}
            </option>
          </select>
        </div>
      </div>

      <chart :statedata="recentData" :selected="selectedChart" class="fullwidth"></chart>

      <div class="container">
        <p>The numbers in this chart represent a 1 week average. The shaded green region denotes the WHO testing guideline for reopening. <span v-if="showchange">The dark circles indicate current values and light circles indicate values one week ago.</span></p>
      </div>

    </div>

    <div v-if="viewMode == 'map'" class="container">
      <gridmap :statedata="recentData"></gridmap>
      <p>The numbers in this chart represent a 1 week average.</p>
    </div>

    <div class="container">

      <p>This page was last updated on {{lastUpdated.toLocaleDateString('en-US', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}) }}.</p>

      <p>Data Sources: <a href="https://api.covid19india.org/">Covid19India.org</a> (states) & <a href="https://www.mohfw.gov.in/">Indian Ministry of Health</a> (districts) <span style="font-weight: 700">&middot;</span> <a href="https://github.com/aatishb/indiatestpositivitydata">Data Archive</a> <span style="font-weight: 700">&middot;</span> <sup style="font-weight: 300;">*</sup><a href="https://github.com/aatishb/indiatesttracker">Methodology & Source Code</a></p>

    </div>

  </div>

  <!-- page code -->
  <script src="vue-definitions.js"></script>

</body>
</html>