html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 18px;
}

table {
  width: 100%;
  table-layout : fixed;
}

th, td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.graph {
  height: 400px;
  display: block;
}

header {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(40, 20, 70);
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
}

header a {
  color: rgb(40, 20, 70);
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size:1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: rgb(40, 20, 70);
  background-color: rgb(254,252,242);
  /* anti-aliasing for crisper fonts */
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

.caveat {
  border: 2px solid rgb(40, 20, 70);
  padding: 0.75rem;
  background-color: lightgoldenrodyellow;
  font-weight: 500;
  margin-bottom: 1rem;
}

p {
   margin-bottom:1rem;
}

.container > p:last-child {
  margin-bottom: 0;
}

p:last-child {
  margin-bottom: 0;
}


button {
  font-size: 1rem;
  font-weight: 100;

  text-align: center;
  text-decoration: none;

  transition-duration: 0.4s;

  background-color: rgb(85, 56, 100);
  color: rgb(254, 199, 81);
  border: 0.125rem solid rgb(85, 56, 100);
  border-radius: 0.25rem;

  margin: 0rem;
}

button:hover {
  background-color: rgb(69,10,76);
  border: 0.125rem solid rgb(69,10,76);
  color: rgb(254, 199, 81);
}

select { /* modified from https://stackoverflow.com/a/57510283 */
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 17.5rem;
  font-size: 1rem;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='50' fill='%23FEC751'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  background-color: rgb(85, 56, 100);
  color: rgb(255, 190, 137);
}



h1 {
  padding-top:20px;
  text-align:center;
  font-weight:100;
  font-size:3rem;
}

h2 {
  margin-top:1.5rem;
  margin-bottom:1.5rem;
  font-weight:700;
  font-size: 1.8rem;
  text-align: center;
}

h3 {
  text-align:center;
  font-weight:400;
  font-size:1.2rem;
}

h1, h2, h3 {
  line-height: 1.1;
  color: '#222';
}


#title {
  font-family: 'Raleway', sans-serif;
}


i {
  font-style: italic;
}

b {
  font-weight:600;
}

a {
  color: dodgerblue;
}


.container {
  max-width: 660px;
  margin: 0 auto;
  padding: 0.5rem;
}


.fullwidth {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1000px;
}

.columntitle {
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.columntitle:hover {
    color: #00aeef;
    text-decoration: underline;
}

ul {
  margin:10px 0;
}

ul li {
  margin-bottom:5px;
  overflow:auto;
}

/* For devices smaller than 1000px */
@media (max-width: 1000px) {
  .fullwidth {
    width: 100%;
  }
}


/* For devices smaller than 400px */
@media (max-width: 400px) {
  table {
     font-size: 0.75rem;    
  }

  .columntitle {
     font-size: 0.75rem;    
  }
}

